:root {
    --nav-width: 5rem;
    --bg-color-primary: rgb(30, 30, 30);
    --bg-color-secondary: rgb(150, 150, 150);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

main {
    margin-left: var(--nav-width);
    padding-left: 1rem;

    line-height: 1.5;
}

nav {
    position: fixed;

    width: var(--nav-width);
    height: 100vh;

    background-color: var(--bg-color-primary);
}

p {
    margin-bottom: 1rem;
}

.nav-link {
    text-decoration: none;
    color: var(--bg-color-secondary);

    display: flex;
    align-items: center;

    height: 5rem;
}

.nav-link > svg {
    height: 2rem;
}

.nav-link span {
    margin-left: 2rem;

    display: none;
}

.navbar:hover .nav-link span {
    display: inline;
}

.navbar:hover {
    width: 8rem;
}

.nav-link:hover svg {
    color: green;
}

.nav-link:hover {
    box-shadow: 0px 1px green;
}
